.button {
  background-color: var(--secondary-color);
  border-style: none;
  font-weight: 600;
  border-radius: 2px;
  font-size: 14px;
  width: fit-content;
  height: 30px;
  color: var(--offwhite);
  transition: all 300ms ease-out;
}

.button:hover {
  background-color: var(--offwhite);
  color: var(--secondary-color);
  transition: all 300ms ease-in;
  cursor: pointer;
}

.button.large {
  font-size: 16px;
  height: 40px;
}

