.btn-medium {
  background-color: var(--secondary-color);
  border-style: none;
  font-weight: 600;
  border-radius: 2px;
  font-size: 14px;
  width: fit-content;
  height: 30px;
  color: var(--offwhite);
}

.btn-medium:hover {
  background-color: var(--offwhite);
  color: var(--secondary-color);
  transition: ease-in-out 300ms;
}

.btn-large {
  background-color: var(--secondary-color);
  font-weight: 600;
  border-style: none;
  border-radius: 2px;
  font-size: 16px;
  width: fit-content;
  height: 40px;
  color: var(--offwhite);
}

.btn-large:hover {
  background-color: var(--offwhite);
  color: var(--secondary-color);
  transition: ease-in-out 300ms;
}
