.card__container {
  border-radius: 2px;
  text-align: center;
  height: fit-content;
  color: var(--primary-color);
  padding-inline: 10px;
  max-width: 200px;
  padding-bottom: 50px;
  padding-right: 30px;
  transition: transform 0.2s;
}

.card__container:hover {
  transform: scale(1.05);
}

.card__container img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.5);
}

.card__container h3 {
  margin: 0;
}

.card__container p {
  margin: 0;
}