.navbar {
  background-color: transparent;
  color: var(--offwhite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
  transition: ease-in 100ms;
  z-index: 1;
}

.navbar.active {
  background-color: var(--primary-color);
  box-shadow: rgb(0, 0, 0);
  padding-top: 10px;
}

.navMenu {
}

.showMenuBtn {
  display: none;
  background-color: transparent;
  border-style: none;
  color: var(--offwhite);
  font-size: 30px;
  margin-right: 30px;
}

.showMenuBtn:hover {
  color: var(--secondary-color);
  transition: ease-in-out 300ms;
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: var(--offwhite);
  font-weight: 600;
}

nav a:hover {
  color: var(--secondary-color);
  transition: ease-in-out 300ms;
}

.logo {
  /* margin-right: 50px; */
}

nav img {
  /*height: 130%;*/
  height: 50px;
  vertical-align: center;
}

@media screen and (max-width: 800px) {
  .navbar {
    justify-content: space-between;
    height: auto;
  }

  .navMenu {
    display: none;
  }

  .navMenu.responsive {
    display: flex;
    flex-direction: column;
    padding: 70px 0px 0px 0px;
  }

  .showMenuBtn {
    display: inline;
    position: relative;
    max-height: 70px;
    width: 50px;
  }
}