.services__container__sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    animation: slideIn 1s;
    padding: 20px;
    min-height: 400px;
}

.services__container__sub__description {
    text-align: center;
    margin-bottom: 40px;
    align-self: center;
}

.services__container__catalogue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    font-size: 90%;
}

.services__container__sub__description p {
    margin: 0;
    max-width: 400px;
    margin-bottom: 2%;
}

.services__container__sub__description h2 {
    margin: 0, 0, 1px, 0;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
    }
    
}

@media screen and (max-width: 600px) {

    .services__container__sub {
        flex-direction: column;
    }

    .services__container__sub__description {
        text-align: center;
        max-width: 100%;
    }
    
}