.services__container {
  background-color: var(--offwhite);
  min-height: 500px;
  font-size: 80%;
}

.services__subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px 50px 20px 50px;
}

.service__info img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
}

.service__info__description {
  display: block;
  line-height: 30px;
  max-width: 500px;
  margin-left: 30px;
}

.service__info p {
  color: var(--offgrey);
}

.services__container h1 {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 10px;
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {

  .services__subcontainer {
    flex-direction: column;
  }

  .services__container img {
    width: 200px;
    height: 150px;
  }
}
