.welcome__container {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

.welcome__text {
    text-align: left;
    max-width: 400px;
    padding-top: 40px;
}

.welcome__subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 50px;
}

.welcome__image {
    width: 500px;
    height: 300px;
    max-width: 100%;
}

.welcome__text h2 {
    margin: 0;
}

.welcome__text h3 {
    margin: 0;
    color: var(--secondary-color);
}

@media screen and (max-width: 850px) {
    .welcome__subsection {
        flex-direction: column;
    }
}