.topReviewsContainer {
    background-color: whitesmoke;
    min-width: 450px;
    border-radius: 1px;
    opacity: 0;
    animation: slideup 500ms;
    animation-fill-mode: forwards;
    animation-delay: 300ms;
}

.topReviewsHeader {
    letter-spacing: -1px;
    padding-top: 10px;
}

.topReviewsFlex {
    display: flex;
    justify-content: center;
}

