:root {
  /* --primary-color: rgb(37, 37, 37); */
  --primary-color: rgba(23,22,22);
  --secondary-color: rgb(79, 146, 226);
  --offwhite: rgb(244, 244, 244);
  --offgrey: rgb(153, 153, 153);
}

[data-type*='green'] {
  background-color: #6CBF6F;
}

[data-type*='red'] {
  background-color: #BF6C6C;
}

[data-type*='pending'] {
  background-color: #E4A501;
}

[data-type*='new'] {
  background-color: #BFAD6C;
}

[data-type*='holiday'] {
  background: linear-gradient(107.14deg, #BF6C6C 38.91%, rgba(54, 238, 172, 0.85) 71.88%);
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(229, 229, 229);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  } to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(30px);
  }
  to {
      opacity: 1;
  }
  
}

@keyframes panFromLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  } to {
    opacity: 1;
      }
}

@keyframes panFromRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  } to {
    opacity: 1;
      }
}

@keyframes slideUpAndGrow {
  from {
    opacity: 0;
    scale: 1.02;
  } to {
    opacity: 1;
  }
  
}

@keyframes blur {
  from {
    filter: blur(5px);
    opacity: 0;
  } to {
    opacity: 1;
  }
  
}
